@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-background: hsl(0 0% 100%);
  --color-background-dark: hsl(212 22% 13%);
  --color-foreground: hsl(212 22% 13%);
  --color-foreground-dark: hsl(0 0% 100%);
  --color-primary: hsl(196 100% 47%);
  --color-primary-foreground: hsl(0 0 100%);
  --color-secondary: hsl(196 7% 43%);
  --color-secondary-dark: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0 90%);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);

    @variant dark {
      background-color: var(--color-background-dark);
      color: var(--color-foreground-dark);
    }
  }
}
